<div  style=" height: 200px; margin: auto;">
      <div>
        <div class="container">
            <div class="jumbotron">
                <h1 style="padding: auto;">Welcome to Our Website</h1>
                <p>this is Online shoping website</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, itaque laborum adipisci praesentium nam ea autem doloribus possimus molestias consequuntur eaque iusto ullam cum, consequatur ipsam libero natus dicta corporis.</p>
              
                <a href="information.html" class="btn btn-success" >Read More</a>
            </div>
        
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <p></p>
                    
                    <p class="font-wight-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                
                    <p class="font-wight-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col-md-4">
                    
                    <p class="font-wight-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
    
</div> <br> <br> <br> <br>
<div style="margin-top: 400px;">
    <footer>
        <app-footer></app-footer>
    </footer>
</div>